fastapi==0.115.6
uvicorn[standard]==0.34.0
langgraph==0.2.61
langchain-openai==0.3.0
langchain-core==0.3.29
pandas==2.2.3
pm4py==2.7.11.1
# pyrfc==3.2.0
httpx==0.28.1
asyncpg==0.30.0
sqlalchemy[asyncio]==2.0.36
redis==5.2.1
networkx==3.4.2
pydantic==2.10.4
pydantic-settings==2.7.0
python-dotenv==1.0.1
